.App{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Menu,
.EndScreen{
  width: 500px;
  height: 300px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Menu button 
{
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

 button 
{
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.Quiz{
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu, 
.Quiz,
.EndScreen{
  color: white;

}
.options{
  width:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.EndScreen button{
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
h2{
  margin-left: 5px;
}
@media screen and (max-width:768px){
  .Quiz{
    /* font-size: 20px;
    line-height: 50px; */
    /* height: 100vh; */
    width: 100%;
    /* height: 500px; */
    border-radius: 10px;
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    align-items: center;
  }
  
}